<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Base Page {% endblock %} </title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Templated.com stylesheet-->
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

    <!-- Bootstrap stylesheet
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    -->

</head>
<body>

    <!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="{% url 'home' %}" class="logo">Bink Loyalty</a>
				<nav class="right">
					<!-- <a href="{% url 'signup' %}" class="button alt">Sign Up</a> -->
                    {% if user.is_authenticated %}
                        <h4> Welcome back {{ user.username }}</h4>
                        <h7><a href="{% url 'logout' %}">Logout</a> </h7>
                    {% else %}
                        <a href="{% url 'signup' %}" class="button alt">Sign Up</a>
                    {% endif %}
				</nav>
			</header>

    <!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'signup' %}">Sign Up</a></li>
					<li><a href="{% url 'login' %}">Log In</a></li>
                    <li><a href="{% url 'providers' %}">Providers</a></li>
				</ul>
				<ul class="actions vertical">
					<li><a href="#" class="button fit">Sign Up</a></li>
				</ul>
			</nav>

    <!-- templates/base.html -->

      <main>

        {% block content %}
        {% endblock %}

      </main>

    <!-- Bootstrap Scripts - jQuery first, then Popper.js, then Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    -->

    <!-- Templated.com Scripts -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.scrolly.min.js"></script>
    <script src="/static/js/skel.min.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/main.js"></script>

</body>
</html>
